# Sample gitconfig
#

[hub]
  protocol = https
[user]
  name = AUTHORNAME
  email = AUTHOREMAIL
[credential]
  helper = GIT_CREDENTIAL_HELPER
[alias]
  applyf = !git stash show -p | git apply
  br = branch
  ci = commit
  clean-merged      = !$ZSH/bin/git-clean-merged
  co = checkout
  count   = !git shortlog -sn
  cp = cherry-pick
  cut = checkout -b
  ff = pull --ff-only
  lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%C(bold blue)<%an>%Creset' --abbrev-commit
  logg = log --graph --decorate --branches --remotes
  logs = log --stat --decorate
  lol = log --graph --decorate --pretty=oneline --abbrev-commit
  lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
  ls = ls-files
  merged = !sh -c 'git rev-list HEAD | grep $(git rev-parse $0)'
  override = !sh -c 'echo git add -- $0 && echo git reset HEAD -q -- $0 && echo git checkout -- $0'
  pop = stash pop
  popf = !git stash show -p | git apply && git stash drop
  promote = !$ZSH/bin/git-promote
  pu = !"git fetch origin -v; git fetch upstream -v; git merge upstream/master"
  purge-remote = !sh -c 'echo git branch -a | echo sed -n \"/master$/d;s?^ *remotes/$0/??p\"'
  rank-contributors = !$ZSH/bin/git-rank-contributors
  sdcommit = !git stash && git svn dcommit && git stash pop
  sff = !git stash && git ff && git pop
  srebase = !git stash && git svn rebase -l && git stash pop
  st = status
  sup = !git stash && git up && git pop
  unadd = rm --cached
  up = pull --rebase
  vanity = shortlog -sn
  wtf     = !$ZSH/bin/git-wtf
  wu = log --stat origin..@{0}
[color]
  ui = true
[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green
[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red bold
  new = green bold
  whitespace = red reverse
[color "status"]
  added = yellow
  changed = green
  untracked = cyan
[core]
  excludesfile = ~/.gitignore
  editor = vim
  ignorecase = false
[apply]
  whitespace = nowarn
[mergetool]
  keepBackup = false
[difftool]
  prompt = false
[help]
  autocorrect = 1
[push]
  # See `git help config` (search for push.default)
  # for more information on different options of the below setting.
  #
  # Setting to git 2.0 default to suppress warning message
  default = current
