editor/atom.symlink/.node-gyp
editor/atom.symlink/.storage
editor/atom.symlink/compile-cache/
editor/atom.symlink/packages
editor/atom.symlink/storage
editor/atom.symlink/themes
editor/atom.symlink/dev
editor/atom.symlink/npm-debug.log
editor/atom.symlink/.apm
editor/atom.symlink/atompackages

git/gitconfig.symlink

vim/vim.symlink/bundle

.DS_Store

editor/atom.symlink/config.cson
