"*":
  Zen:
    softWrap: true
    typewriter: true
  "atom-alignment": {}
  "atom-css-comb":
    commonConfigs: "~/.csscomb.json"
    projectConfigs: ".csscomb.json"
    readyMadeConfigs: "csscomb"
  "atom-ternjs":
    coffeeScript: true
  "autoclose-html": {}
  autocomplete:
    includeCompletionsFromAllBuffers: true
  "autocomplete-plus":
    includeCompletionsFromAllBuffers: true
  autoprefixer:
    browsers: [
      "last 2 versions"
    ]
  core:
    themes: [
      "one-dark-ui"
      "base16-ocean-dark-spacegray"
    ]
  "css-comb":
    config: "common"
    userConfig: true
  dash: {}
  editor:
    fontFamily: "Consolas"
    fontSize: 18
    invisibles: {}
    showIndentGuide: true
    showInvisibles: true
    useShadowDOM: true
  "exception-reporting":
    userId: "eab12bf7-fff7-4cf2-4166-58577e0b841d"
  "file-icons":
    onChanges: true
    tabPaneIcon: false
  "git-projects":
    rootPath: "/Users/jonrohan/github; /Users/jonrohan/src"
    showGitInfo: false
    sortBy: "Latest modification date"
  linter:
    clearOnChange: true
    gutterPosition: "Left"
    ignoreMatchedFiles: "/**/*.min{js,css},/**/*.html.erb"
    lintDebug: false
    lintOnChange: false
    showErrorTabFile: false
    showErrorTabProject: false
    statusBar: "Show error if the cursor is in range"
    statusIconScope: "File"
  "linter-jshint":
    disableWhenNoJshintrcFileInPath: true
  "linter-rubocop":
    command: "/Users/jonrohan/.rbenv/shims/rubocop"
  "linter-scss-lint":
    executablePath: "/Users/jonrohan/.rbenv/shims/scss-lint"
  "linter-write-good": {}
  "markdown-preview":
    grammars: [
      "source.gfm"
      "source.litcoffee"
      "text.plain"
      "text.plain.null-grammar"
    ]
  metrics:
    userId: "d80946a38ef4b5192689edaece41d098135db89d"
  minimap:
    displayCodeHighlights: false
    plugins:
      "find-and-replace": true
      "git-diff": true
      linter: true
  "one-dark-ui":
    layoutMode: "Spacious"
  "release-notes":
    viewedVersion: "0.95.0"
  "spell-check":
    grammars: [
      "source.gfm"
      "text.git-commit"
      "text.plain"
    ]
  tabs:
    enableVcsColoring: true
    showIcons: false
    usePreviewTabs: true
  "toggle-quotes": {}
  "tree-view":
    hideIgnoredNames: true
  welcome:
    showOnStartup: false
  whitespace:
    ignoreWhitespaceOnCurrentLine: false
