"*":
  "exception-reporting":
    userId: "eab12bf7-fff7-4cf2-4166-58577e0b841d"
  "release-notes":
    viewedVersion: "0.95.0"
  welcome:
    showOnStartup: false
  metrics:
    userId: "d80946a38ef4b5192689edaece41d098135db89d"
  editor:
    showInvisibles: true
    useShadowDOM: true
    invisibles:
      {}
    showIndentGuide: true
    fontFamily: "Consolas"
    fontSize: 15
  core:
    themes: [
      "one-dark-ui"
      "base16-tomorrow-dark-theme"
    ]
  "spell-check":
    grammars: [
      "source.gfm"
      "text.git-commit"
      "text.plain"
    ]
  whitespace:
    ignoreWhitespaceOnCurrentLine: false
  "tree-view":
    hideIgnoredNames: true
  autocomplete:
    includeCompletionsFromAllBuffers: true
  autoprefixer:
    browsers: [
      "last 2 versions"
    ]
  "markdown-preview":
    grammars: [
      "source.gfm"
      "source.litcoffee"
      "text.plain"
      "text.plain.null-grammar"
    ]
  dash:
    grammars: ""
  "autocomplete-plus":
    includeCompletionsFromAllBuffers: true
  linter:
    statusBar: "Show error if the cursor is in range"
    lintOnEditorFocus: false
    lintOnSave: false
    subtleLinterErrors: [
      "rubocop"
    ]
  "css-comb":
    userConfig: true
    config: "common"
  "autoclose-html":
    {}
  minimap:
    {}
  "atom-alignment":
    {}
  "linter-scss-lint":
    scssLintExecutablePath: "/opt/boxen/rbenv/shims/"
  "linter-rubocop":
    rubocopExecutablePath: "/opt/boxen/rbenv/shims/"
