"*":
  "exception-reporting":
    userId: "eab12bf7-fff7-4cf2-4166-58577e0b841d"
  "release-notes":
    viewedVersion: "0.95.0"
  welcome:
    showOnStartup: false
  metrics:
    userId: "d80946a38ef4b5192689edaece41d098135db89d"
  editor:
    showInvisibles: true
    useShadowDOM: true
    invisibles: {}
    showIndentGuide: true
    fontFamily: "Consolas"
    fontSize: 16
  core:
    themes: [
      "one-dark-ui"
      "base16-tomorrow-dark-theme"
    ]
    disabledPackages: [
      "atom-color-highlight"
      "linter-rubocop"
    ]
  "spell-check":
    grammars: [
      "source.gfm"
      "text.git-commit"
      "text.plain"
    ]
  whitespace:
    ignoreWhitespaceOnCurrentLine: false
  "tree-view":
    hideIgnoredNames: true
  autocomplete:
    includeCompletionsFromAllBuffers: true
  autoprefixer:
    browsers: [
      "last 2 versions"
    ]
  "markdown-preview":
    grammars: [
      "source.gfm"
      "source.litcoffee"
      "text.plain"
      "text.plain.null-grammar"
    ]
  dash:
    grammars: ""
  "autocomplete-plus":
    includeCompletionsFromAllBuffers: true
  linter:
    statusBar: "Show error if the cursor is in range"
    lintDebug: false
    clearOnChange: true
    lintOnChange: true
    ignoredMessageTypes: [
      "warning"
    ]
  "css-comb":
    userConfig: true
    config: "common"
  "autoclose-html": {}
  minimap:
    plugins:
      "git-diff": false
      linter: true
      "find-and-replace": true
  "atom-alignment": {}
  "linter-scss-lint":
    executablePath: "/opt/boxen/rbenv/shims/scss-lint"
  "linter-rubocop":
    executablePath: "/opt/boxen/rbenv/shims/"
  "toggle-quotes": {}
  "atom-ternjs":
    coffeeScript: true
  "file-icons":
    coloured: false
    onChanges: true
  "one-dark-ui": {}
  tabs:
    usePreviewTabs: true
