"*":
  "exception-reporting":
    userId: "eab12bf7-fff7-4cf2-4166-58577e0b841d"
  "release-notes":
    viewedVersion: "0.95.0"
  welcome:
    showOnStartup: false
  metrics:
    userId: "d80946a38ef4b5192689edaece41d098135db89d"
  editor:
    fontFamily: "Consolas"
    showInvisibles: true
    useShadowDOM: true
    invisibles: {}
    showIndentGuide: true
  core:
    disabledPackages: []
    themes: [
      "one-dark-ui"
      "predawn-syntax"
    ]
  "spell-check":
    grammars: [
      "source.gfm"
      "text.git-commit"
      "text.plain"
    ]
  whitespace:
    ignoreWhitespaceOnCurrentLine: false
  "tree-view":
    hideIgnoredNames: true
  autocomplete:
    includeCompletionsFromAllBuffers: true
  autoprefixer:
    browsers: [
      "last 2 versions"
    ]
  "markdown-preview":
    grammars: [
      "source.gfm"
      "source.litcoffee"
      "text.plain"
      "text.plain.null-grammar"
    ]
  "atom-lint":
    "scss-lint":
      path: "/Users/jonrohan/github/github/bin/scss-lint"
    showViolationMetadata: false
  dash:
    grammars: ""
  "autocomplete-plus":
    includeCompletionsFromAllBuffers: true
  linter:
    showStatusBarWhenCursorIsInErrorRange: true
  "css-comb":
    userConfig: true
    config: "custom"
  "autoclose-html": {}
  minimap: {}
  "atom-alignment": {}
